<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<meta name="description" content="POS - Bootstrap Admin Template">
<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
<meta name="author" content="Dreamguys - Bootstrap Admin Template">
<meta name="robots" content="noindex, nofollow">
<title>Dreams Pos admin template</title>

<link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.jpg">

<link rel="stylesheet" href="../assets/css/bootstrap.min.css">

<link rel="stylesheet" href="../assets/css/animate.css">

<link rel="stylesheet" href="../assets/plugins/select2/css/select2.min.css">

<link rel="stylesheet" href="../assets/css/dataTables.bootstrap4.min.css">

<link rel="stylesheet" href="../assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="../assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
<div id="global-loader">
<div class="whirly-loader"> </div>
</div>

<div class="main-wrapper">

<%- include('dashheader') %>


<%- include('mainsidebar') %>
<form action="/admin/addcategory" method="post" enctype="multipart/form-data">

<div class="page-wrapper">
<div class="content">
<div class="page-header">
<div class="page-title">
<h4>Product Add Category</h4>
<h6>Create new product Category</h6>
</div>
</div>

<div class="card">
<div class="card-body">
<div class="row">
<div class="col-lg-6 col-sm-6 col-12">
<div class="form-group">
<label>Category Name</label>
<input type="text" name="category_name">
</div>
</div>
<div class="col-lg-6 col-sm-6 col-12">
<div class="form-group">
<label>Size Category Name</label>
<select class="select" name="size_category">
  <% size_category.forEach((row,index) => { %>   
    <option value="<%= row.Category_name %>"><%= row.Category_name %></option>
  <% }); %>
</select>

</div>
</div>
<div class="col-lg-12">
<div class="form-group">
<label>Description</label>
<textarea class="form-control" name="category_description"></textarea>
</div>
</div>
<div class="col-lg-12">
<div class="form-group">
<label> Product Image</label>
<div class="image-upload">
<input type="file" id="product_image_input" onchange="displayThumbnail(event)" name="category_image">
<div class="image-uploads">
<img id="thumbnail" src="../assets/img/icons/upload.svg" alt="img">
<h4>Drag and drop a file to upload</h4>
</div>
</div>
</div>
</div>
<div class="col-12" id="productListSection" style="display: none;">
<div class="product-list">
<ul class="row">
<li class="ps-0">
<div class="productviewset">
<div class="productviewsimg">
<img id="uploadedImage" src="" alt="Uploaded Image">
</div>
<div class="productviewscontent">
<a href="javascript:void(0);" class="hideset"><i class="fa fa-trash-alt"></i></a>
</div>
</div>
</li>
</ul>
</div>
</div>
<div class="col-lg-12 justify-content-center">

    <% if (msg&& msg.length>0) { %>
     <h6 id="alert-message" class="text-center text-danger"><%= msg %></h6>
     
    <% } %>
  
</div>
<div class="col-lg-12 justify-content-center">

   
     <h6 id="error-message" class="text-center text-danger"></h6>
     
 
  
</div>
<div class="col-lg-12">
<button type="submit" class="btn btn-submit me-2">Submit</button>
<a href="categories" class="btn btn-cancel">Cancel</a>
</div>

</div>
</div>
</div>

</div>
</div>
</form>

</div>


<script src="../assets/js/jquery-3.6.0.min.js"></script>

<script src="../assets/js/feather.min.js"></script>

<script src="../assets/js/jquery.slimscroll.min.js"></script>

<script src="../assets/js/jquery.dataTables.min.js"></script>
<script src="../assets/js/dataTables.bootstrap4.min.js"></script>

<script src="../assets/js/bootstrap.bundle.min.js"></script>

<script src="../assets/plugins/select2/js/select2.min.js"></script>

<script src="../assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="../assets/plugins/sweetalert/sweetalerts.min.js"></script>

<script src="../assets/js/script.js"></script>

<script>
  
$(document).ready(function() {
  const productImageContainer = $('.productviewsimg');

  // Function to handle image change when a file is selected
  $('input[type="file"]').on('change', function(e) {
    const file = e.target.files[0];
    const reader = new FileReader();

    reader.onload = (event) => {
      const imageDataUrl = event.target.result;
      const img = $('<img>').attr('src', imageDataUrl);
      productImageContainer.empty().append(img);
    };

    reader.readAsDataURL(file);

    // Show the product list section when an image is selected
    $('#productListSection').show();
  });

  // Hide the default image initially
  productImageContainer.find('img').hide();

  // Show the default image when the input is cleared
  $('input[type="file"]').on('click', function() {
    productImageContainer.find('img').show();
  });
});


  </script>
<script>
$(document).ready(function() {
   const errorMessageElement = document.getElementById('alert-message');
    
    if (errorMessageElement) {
        setTimeout(function() {
            errorMessageElement.style.display = 'none';
        }, 3000); // 3000 milliseconds = 3 seconds
    }
    // Function to validate the form fields
    $('form').submit(function(event) {
        var category_name = $('input[name="category_name"]').val().trim();
        var size_category = $('select[name="size_category"]').val().trim();
        var category_description = $('textarea[name="category_description"]').val().trim();
        var category_image = $('input[name="category_image"]').val().trim();

        const validationRegex = {
            product_name: /^[a-zA-Z0-9\s\-]+$/,
            product_description: /^.+$/s,
        };

        let errorMessage = '';

        // Validation checks
        if (!category_name || !validationRegex.product_name.test(category_name)) {
            errorMessage += 'Category Name is required and should be alphanumeric. +';
        }

        if (!size_category) {
            errorMessage += 'Size Category is required. +';
        }

        if (!category_description || !validationRegex.product_description.test(category_description)) {
            errorMessage += 'Category Description is required. +';
        }

        if (!category_image) {
            errorMessage += 'Category Image is required.';
        }

        // Display error message if any validation fails
        if (errorMessage) {
            const messageDisplay = errorMessage.split('+');
            document.getElementById('error-message').textContent = messageDisplay[0].trim();

            // Hide the message after 3 seconds
            setTimeout(() => {
                document.getElementById('error-message').textContent = '';
            }, 3000);

            return false; // Prevent form submission
        }

        // If all validations pass, the form will submit
        return true;
    });
});
</script>


</body>
</html>
