<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">


    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#">Sign in</a>
                                <a href="#">FAQs</a>
                            </div>
                            <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="./index.html">Home</a></li>
                            <li class="active"><a href="./shop.html">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">About Us</a></li>
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                        <a href="#"><img src="img/icon/heart.png" alt=""></a>
                        <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
                        <div class="price">$0.00</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div id="paymentMessage" style="color: red; display: none;"></div>
            <div class="checkout__form">
                <h6 class="coupon__code" id="show-coupon-form">
                    <span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click here</a> to enter your code
                </h6>

                <div class="cart__discount" id="coupon-form-container" style="display: none;">
                    <form id="coupon-form">
                        <input type="text" id="coupon-code" placeholder="Coupon code" value="<%= couponCode %>">
                        <button type="submit">Apply</button>
                    </form>
                    <div id="coupon-message"></div>
                </div>
                <form id="checkoutForm" action="/checkout" method="post">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">


                            <h6 class="checkout__title" data-toggle="collapse" data-target="#billingDetails"
                                aria-expanded="true" aria-controls="billingDetails">Billing Details</h6>
                            <div id="billingDetails" class="collapse hide">
                                <div class="addresses-content-wrapper">
                                    <div class="addresses-content">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <p>First name<span>*</span></p>
                                            <input type="text" id="billingFirstName" name="billingFirstName"
                                                value="<%= !session && billingAddress && billingAddress.Address_id ? billingAddress.Address_id.FirstName : '' %>">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <p>Last Name<span>*</span></p>
                                            <input type="text" id="billingLastName" name="billingLastName"
                                                value="<%= !session && billingAddress && billingAddress.Address_id ? billingAddress.Address_id.LastName : '' %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="checkout__input">
                                    <p>Country<span>*</span></p>
                                    <input type="text" id="billingCountry" name="billingCountry"
                                        value="<%= !session && billingAddress && billingAddress.Address_id ? billingAddress.Address_id.Country : '' %>">
                                </div>
                                <div class="checkout__input">
                                    <p>Address<span>*</span></p>
                                    <input type="text" id="billingHouseNumber" name="billingHouseNumber"
                                        value="<%= !session && billingAddress && billingAddress.Address_id ? billingAddress.Address_id.House_number : '' %>"
                                        class="checkout__input__add">
                                    <input type="text" id="billingAddressLine1" name="billingAddressLine1"
                                        value="<%= !session && billingAddress && billingAddress.Address_id ? billingAddress.Address_id.Address_line_1 + ', ' + billingAddress.Address_id.Address_line_2 : '' %>">
                                </div>
                                <div class="checkout__input">
                                    <p>Country/State<span>*</span></p>
                                    <input type="text" id="billingState" name="billingState"
                                        value="<%= !session && billingAddress && billingAddress.Address_id ? billingAddress.Address_id.State : '' %>">
                                </div>
                                <div class="checkout__input">
                                    <p>Postcode / ZIP<span>*</span></p>
                                    <input type="text" id="billingPostalCode" name="billingPostalCode"
                                        value="<%= !session && billingAddress && billingAddress.Address_id ? billingAddress.Address_id.Postal_code : '' %>">
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <p>Phone<span>*</span></p>
                                            <input type="text" id="phone" name="phone"
                                                value="<%= session ? "":user.phone %>">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <p>Email<span>*</span></p>
                                            <input type="text" id="email" name="email"
                                                value="<%= session ? "":user.email %>">
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <!-- <div class="checkout__input__checkbox">
                                <label for="acc">
                                    Create an account?
                                    <input type="checkbox" id="acc" onchange="togglePasswordFields()">
                                    <span class="checkmark"></span>
                                </label>
                                <div id="passwordFields" style="display: none;">
                                    <p>Create an account by entering the information below. If you are a returning
                                        customer please login at the top of the page</p>
                                    <div class="checkout__input">
                                        <p>Account Password<span>*</span></p>
                                        <input type="password" id="accountPassword">
                                    </div>
                                </div>
                            </div> -->
                            <div class="checkout__input__checkbox">
                                <h6 class="checkout__title" data-toggle="collapse" data-target="#shippingDetails" aria-expanded="true"
                                    aria-controls="shippingDetails">Shipping Details</h6>
                                <!-- <label for="add">
                                    Ship to different Address
                                    <input type="checkbox" id="add" name="shipToDifferentAddress"
                                        onchange="toggleShippingAddressFields()">
                                    <span class="checkmark"></span>
                                </label> -->
                            <div id="shippingDetails" class="collapse hide">
                                <div id="shippingFields">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="checkout__input">
                                                <p>First name<span>*</span></p>
                                                <input type="text" id="shippingFirstName" name="shippingFirstName"
                                                    value="<%= session ? '' : shippingAddress && shippingAddress.Address_id ? shippingAddress.Address_id.FirstName : '' %>">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="checkout__input">
                                                <p>Last Name<span>*</span></p>
                                                <input type="text" id="shippingLastName" name="shippingLastName"
                                                    value="<%= session ? '' : shippingAddress && shippingAddress.Address_id ? shippingAddress.Address_id.LastName : '' %>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkout__input">
                                        <p>Country<span>*</span></p>
                                        <input type="text" id="shippingCountry" name="shippingCountry"
                                            value="<%= session ? '' : shippingAddress && shippingAddress.Address_id ? shippingAddress.Address_id.Country : '' %>">
                                    </div>
                                    <div class="checkout__input">
                                        <p>Address<span>*</span></p>
                                        <input type="text" id="shippingHouseNumber" name="shippingHouseNumber"
                                            value="<%= session ? '' : shippingAddress && shippingAddress.Address_id ? shippingAddress.Address_id.House_number : '' %>"
                                            class="checkout__input__add">
                                        <input type="text" id="shippingAddressLine1" name="shippingAddressLine1"
                                            value="<%= session ? '' : shippingAddress && shippingAddress.Address_id ? `${shippingAddress.Address_id.Address_line_1}, ${shippingAddress.Address_id.Address_line_2}` : '' %>">
                                    </div>
                                    <div class="checkout__input">
                                        <p>Country/State<span>*</span></p>
                                        <input type="text" id="shippingState" name="shippingState"
                                            value="<%= session ? '' : shippingAddress && shippingAddress.Address_id ? shippingAddress.Address_id.State : '' %>">
                                    </div>
                                    <div class="checkout__input">
                                        <p>Postcode / ZIP<span>*</span></p>
                                        <input type="text" id="shippingPostalCode" name="shippingPostalCode"
                                            value="<%= session ? '' : shippingAddress && shippingAddress.Address_id ? shippingAddress.Address_id.Postal_code : '' %>">
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="checkout__input__checkbox">
                                <!-- <label for="diff-acc">
                                    Note about your order, e.g, special note for delivery
                                    <input type="checkbox" id="diff-acc">
                                    <span class="checkmark"></span>
                                </label> -->
                            </div>
                            <div class="checkout__input">
                                <p>Order notes<span>*</span></p>
                                <input type="text"
                                    placeholder="Notes about your order, e.g. special notes for delivery.">
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4 class="order__title">Your order</h4>
                                <div class="checkout__order__products">Product <span>Total</span></div>
                                <ul class="checkout__total__products">
                                    <% cartProduct.forEach((element, index)=> { %>
                                        <% if (!session) { %>
                                            <% if (element.Product_variation.Is_active) { %>
                                                <li>0<%= index + 1 %>. <%= element.SingleProduct.product_name %> <span>$
                                                                <%= element.Product.Original_price * element.Qty %>
                                                            </span></li>
                                                <% } %>

                                                    <% } else { %>
                                                        <li>0<%= index + 1 %>. <%=
                                                                    element.product.Product_variation_id.Product_item_id.Product_id.product_name
                                                                    %> <span>$ <%=
                                                                            element.product.Product_variation_id.Product_item_id.Original_price
                                                                            * element.Qty %></span></li>
                                                        <% } %>
                                                            <% }) %>

                                </ul>
                                <ul class="checkout__total__all">
                                    <li>Subtotal <span>$<%= totalCartAmount%></span>
                                        <input type="hidden" name="subtotal" value="<%= totalCartAmount %>">
                                    </li>
                                    <li hidden>Subtotal <span>$<%= couponDiscountPercentage%></span>
                                        <input type="hidden" name="couponDiscountPercentage"
                                            value="<%= couponDiscountPercentage %>">
                                    </li>

                                    <li>Coupon Discount <span id="coupon-discount">$ <%= discountAmount %> </span>
                                        <input type="hidden" name="couponDiscount" value="<%= discountAmount %>">
                                    </li>
                                    <li>Offer Discount <span>$ <%= (totalOfferDiscount).toFixed(2) %></span>
                                        <input type="hidden" name="offerDiscount" value="<%= totalOfferDiscount %>">
                                    </li>
                                    <li>Shipping <span>$ 0.00</span>
                                        <input type="hidden" name="shipping" value="0.00">
                                    </li>
                                    <li>Total <span>$<%=newTotalAmount %></span>
                                        <input type="hidden" name="total" value="<%= newTotalAmount %>">
                                    </li>
                                </ul>

                                <% let codAvailable=true; %>
                                    <% Payment_types.forEach(element=> { %>
                                        <% const isCashOnDelivery=element.Value==='Cash On Delivery' ; %>
                                            <% const shouldDisable=newTotalAmount> 1000 && isCashOnDelivery; %>
                                                <% if (shouldDisable) { %>
                                                    <% codAvailable=false; %>
                                                        <% } else { %>
                                                            <div class="checkout__input__radio">
                                                                <label for="payment_<%= element.Value %>">
                                                                    <%= element.Value %>
                                                                        <input type="radio"
                                                                            id="payment_<%= element.Value %>"
                                                                            name="payment_method"
                                                                            value="<%= element.Value %>">
                                                                        <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                            <% } %>
                                                                <% }); %>

                                                                    <% if (!codAvailable) { %>
                                                                        <p style="color: red;">Cash On Delivery is not
                                                                            available for orders above 1000.
                                                                        </p>
                                                                        <% } %>







                                                                            <button id="checkoutBtn" type="submit"
                                                                                class="site-btn">PLACE ORDER</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>

    <% if (address && address.length> 0) { %>
        <div class="container mt-4">
            <div class="row">
                <% address.forEach(address=> { %>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card shadow" style="width: 18rem;">
                            <div class="card-body">
                                <p>
                                    <%= address.Address_id.FirstName %>
                                        <%= address.Address_id.LastName %>
                                </p>
                                <p>
                                    <%= address.Address_id.House_number %>
                                </p>
                                <p>
                                    <%= address.Address_id.Address_line_1 %>, <%= address.Address_id.Address_line_2 %>
                                </p>
                                <p>
                                    <%= address.Address_id.Postal_code %>
                                </p>
                                <p>
                                    <%= address.Address_id.State %>
                                </p>
                                <p>
                                    <%= address.Address_id.Country %>
                                </p>
                                <button class="btn btn-primary btn-block set-shipping" data-user-id="<%= user._id %>"
                                    data-address-id="<%= address._id %>">Select
                                    as Shipping</button>
                                <button class="btn btn-secondary btn-block set-billing" data-user-id="<%= user._id %>"
                                    data-address-id="<%= address._id %>">Select
                                    as Billing</button>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
        <% } %>


            <!-- Checkout Section End -->

            <!-- Footer Section Begin -->
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="footer__about">
                                <div class="footer__logo">
                                    <a href="#"><img src="img/footer-logo.png" alt=""></a>
                                </div>
                                <p>The customer is at the heart of our unique business model, which includes design.</p>
                                <a href="#"><img src="img/payment.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                            <div class="footer__widget">
                                <h6>Shopping</h6>
                                <ul>
                                    <li><a href="#">Clothing Store</a></li>
                                    <li><a href="#">Trending Shoes</a></li>
                                    <li><a href="#">Accessories</a></li>
                                    <li><a href="#">Sale</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6">
                            <div class="footer__widget">
                                <h6>Shopping</h6>
                                <ul>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Delivary</a></li>
                                    <li><a href="#">Return & Exchanges</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                            <div class="footer__widget">
                                <h6>NewLetter</h6>
                                <div class="footer__newslatter">
                                    <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                                    <form action="#">
                                        <input type="text" placeholder="Your email">
                                        <button type="submit"><span class="icon_mail_alt"></span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="footer__copyright__text">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                <p>Copyright ©
                                    <script>
                                        document.write(new Date().getFullYear());
                                    </script>2020
                                    All rights reserved | This template is made with <i class="fa fa-heart-o"
                                        aria-hidden="true"></i> by <a href="https://colorlib.com"
                                        target="_blank">Colorlib</a>
                                </p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer Section End -->

            <!-- Search Begin -->
            <div class="search-model">
                <div class="h-100 d-flex align-items-center justify-content-center">
                    <div class="search-close-switch">+</div>
                    <form class="search-model-form">
                        <input type="text" id="search-input" placeholder="Search here.....">
                    </form>
                </div>
            </div>

            <!-- Search End -->
            <style>
                .checkout__input__radio {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                }




                .checkout__input__radio .checkmark::after {
                    content: "";
                    position: absolute;
                    display: none;
                }

                .checkout__input__radio input[type="radio"]:checked+.checkmark::after {
                    display: block;
                }

                .checkout__input__radio .checkmark::after {
                    left: 8px;
                    top: 4px;
                    width: 3px;
                    height: 8px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                }
            </style>

            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    // Validate the checkout form
                    function validateCheckoutForm() {
                       
                        const requiredFields = [
                            'billingFirstName',
                            'billingLastName',
                            'billingCountry',
                            'billingHouseNumber',
                            'billingAddressLine1',
                            'billingState',
                            'billingPostalCode',
                            'phone',
                            'email'
                        ];

                        // Validate required fields
                        for (const fieldId of requiredFields) {
                            const field = document.getElementById(fieldId);
                            if (!field.value.trim()) {
                               document.getElementById('paymentMessage').innerText = `Please fill out the ${fieldId.replace('billing', '').replace(/([A-Z])/g, ' $1').toLowerCase()} field.`;
                                document.getElementById('paymentMessage').style.display = 'block';
                            
                                field.focus();
                                return false;
                            }
                        }

                        // Validate Indian PIN code format
                        const pinCodePattern = /^[1-9][0-9]{5}$/;
                        const billingPostalCode = document.getElementById('billingPostalCode');
                        const shippingPostalCode = document.getElementById('shippingPostalCode');

                        if (!pinCodePattern.test(billingPostalCode.value)) {
                            document.getElementById('paymentMessage').innerText = 'Please enter a valid Indian PIN code for Billing Address.';
                            document.getElementById('paymentMessage').style.display = 'block';
                             billingPostalCode.focus();
                            return false;
                        }

                        if (!pinCodePattern.test(shippingPostalCode.value)) {
                           document.getElementById('paymentMessage').innerText = 'Please enter a valid Indian PIN code for Shipping Address.';
                            document.getElementById('paymentMessage').style.display = 'block';
                            shippingPostalCode.focus();
                            return false;
                        }

                        // Validate shipping address fields if the checkbox is checked
                        
                            const shippingFields = [
                                'shippingFirstName',
                                'shippingLastName',
                                'shippingCountry',
                                'shippingHouseNumber',
                                'shippingAddressLine1',
                                'shippingState',
                                'shippingPostalCode'
                            ];

                            for (const fieldId of shippingFields) {
                                const field = document.getElementById(fieldId);
                                if (!field.value.trim()) {
                                    document.getElementById('paymentMessage').innerText = `Please fill out the ${fieldId.replace('shipping', '').replace(/([A-Z])/g, ' $1').toLowerCase()} field.`;
                                    document.getElementById('paymentMessage').style.display = 'block';
                                    field.focus();
                                    return false;
                                }
                            }

                            // Validate shipping PIN code format
                            if (!pinCodePattern.test(shippingPostalCode.value)) {
                               document.getElementById('paymentMessage').innerText = 'Please enter a valid Indian PIN code for Shipping Address.';
                                document.getElementById('paymentMessage').style.display = 'block';
                            shippingPostalCode.focus();
                                return false;
                            }
                        

                        // Validate password if account creation checkbox is checked
                        // if (document.getElementById('acc').checked) {
                        //     const accountPassword = document.getElementById('accountPassword');
                        //     if (!accountPassword.value.trim()) {
                        //         alert('Please enter a password for the new account.');
                        //         accountPassword.focus();
                        //         return false;
                        //     }
                        // }

                        return true;
                    }

                    // Populate the shipping address from billing address
                    // function populateShippingAddressFromBilling() {
                    //     const shippingAddress = {}; // Assuming this comes from some data source if user is editing existing address

                    //     if (shippingAddress && shippingAddress.Address_id) {
                    //         document.getElementById('shippingFirstName').value = shippingAddress.Address_id.FirstName || '';
                    //         document.getElementById('shippingLastName').value = shippingAddress.Address_id.LastName || '';
                    //         document.getElementById('shippingCountry').value = shippingAddress.Address_id.Country || '';
                    //         document.getElementById('shippingHouseNumber').value = shippingAddress.Address_id.House_number || '';
                    //         document.getElementById('shippingAddressLine1').value = (shippingAddress.Address_id.Address_line_1 || '') + ', ' + (shippingAddress.Address_id.Address_line_2 || '');
                    //         document.getElementById('shippingState').value = shippingAddress.Address_id.State || '';
                    //         document.getElementById('shippingPostalCode').value = shippingAddress.Address_id.Postal_code || '';
                    //     } else {
                    //         document.getElementById('shippingFirstName').value = document.getElementById('billingFirstName').value;
                    //         document.getElementById('shippingLastName').value = document.getElementById('billingLastName').value;
                    //         document.getElementById('shippingCountry').value = document.getElementById('billingCountry').value;
                    //         document.getElementById('shippingHouseNumber').value = document.getElementById('billingHouseNumber').value;
                    //         document.getElementById('shippingAddressLine1').value = document.getElementById('billingAddressLine1').value;
                    //         document.getElementById('shippingState').value = document.getElementById('billingState').value;
                    //         document.getElementById('shippingPostalCode').value = document.getElementById('billingPostalCode').value;
                    //     }
                    // }

                    // Toggle the visibility of the password fields
                    // function togglePasswordFields() {
                    //     const checkBox = document.getElementById("acc");
                    //     const passwordFields = document.getElementById("passwordFields");
                    //     passwordFields.style.display = checkBox.checked ? "block" : "none";
                    // }

                    // Toggle the visibility of the shipping address fields
                    // function toggleShippingAddressFields() {
                    //     const shippingFields = document.getElementById('shippingFields');
                    //     const shipToDifferentAddress = document.getElementById('add').checked;
                    //     shippingFields.style.display = shipToDifferentAddress ? 'block' : 'none';
                    //     if (!shipToDifferentAddress) {
                    //         populateShippingAddressFromBilling();
                    //     }
                    // }

                    // Add event listeners for the checkboxes
                    // document.getElementById('add').addEventListener('change', toggleShippingAddressFields);
                    // document.getElementById('acc').addEventListener('change', togglePasswordFields);
                    // Validate payment method selection
                    $('#checkoutBtn').click(function (event) {
                        const paymentMethod = $('input[name="payment_method"]:checked').val();
                        if (!paymentMethod) {
                            event.preventDefault();
                            document.getElementById('paymentMessage').innerText = 'Please select a payment method.';
                            document.getElementById('paymentMessage').style.display = 'block';
                        } else {
                            document.getElementById('paymentMessage').style.display = 'none';
                        }
                    });
                    // Handle form submission
                    document.getElementById('checkoutForm').addEventListener('submit', function (event) {
                        event.preventDefault(); // Prevent form submission

                        if (!validateCheckoutForm()) {
                            return;
                        }

                        const formData = new FormData(document.getElementById('checkoutForm'));

                        fetch('/checkout', {
                            method: 'POST',
                            body: formData
                        })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                }
                                return response.json();
                            })
                            .then(data => {
                                console.log('Form submission successful', data);
                                if (data.message === "Order placed successfully") {
                                    window.location.href = `user/orders`;
                                } else if (data.razorDetails) {
                                    var options = {
                                        "key": "rzp_test_oD4HudkUX2nicH",
                                        "amount": data.razorDetails.amount,
                                        "currency": "INR",
                                        "name": "Male Fashion",
                                        "description": "Test Transaction",
                                        "image": "img/logo.png",
                                        "order_id": data.razorDetails.id,
                                        "handler": function (response) {
                                            // Call verifyPayment function on successful payment
                                            verifyPayment(response, data.razorDetails);
                                        },
                                        "prefill": {
                                            "name": "Gaurav Kumar",
                                            "email": "gaurav.kumar@example.com",
                                            "contact": "9000090000"
                                        },
                                        "notes": {
                                            "address": "Razorpay Corporate Office"
                                        },
                                        "theme": {
                                            "color": "#3399cc"
                                        }
                                    };
                                    var rzp1 = new Razorpay(options);
                                    rzp1.open();
                                } else {
                                    console.log('Order placement failed or invalid response');
                                }
                            })
                            .catch(error => {
                                console.error('Error during form submission', error);
                            });
                    });

                    // Verify the payment with the server
                    function verifyPayment(payment, order) {
                        $.ajax({
                            url: '/verify-payment',
                            data: {
                                payment,
                                order
                            },
                            method: "post",
                            success: function (response) {
                                if (response.message === "Order placed successfully") {
                                    window.location.href = '/user/orders';
                                } else {
                                    alert(response.message);
                                }
                            },
                            error: function (error) {
                                alert("Payment verification failed");
                            }
                        });
                    }

                });

            </script>


            <!-- Js Plugins -->
            <script src="js/jquery-3.3.1.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/jquery.nice-select.min.js"></script>
            <script src="js/jquery.nicescroll.min.js"></script>
            <script src="js/jquery.magnific-popup.min.js"></script>
            <script src="js/jquery.countdown.min.js"></script>
            <script src="js/jquery.slicknav.js"></script>
            <script src="js/mixitup.min.js"></script>
            <script src="js/owl.carousel.min.js"></script>
            <script src="js/main.js"></script>

            <script>
                document.addEventListener("DOMContentLoaded", () => {
                    const showCouponForm = document.getElementById("show-coupon-form");
                    const couponFormContainer = document.getElementById("coupon-form-container");

                    // Toggle visibility of the coupon form
                    showCouponForm.addEventListener("click", (event) => {
                        event.preventDefault(); // Prevent the default anchor action
                        couponFormContainer.style.display = couponFormContainer.style.display === "none" ? "block" : "none";
                    });
                });

            </script>
            <script>
                $(document).ready(function () {
                    $('#coupon-form').submit(function (event) {
                        event.preventDefault();
                        const couponCode = $('#coupon-code').val();
                        const userId = '<%= user._id %>'; // Make sure to pass userId from server-side to your template

                        $.ajax({
                            url: '/verify-coupon',
                            method: 'POST',
                            data: { couponCode, userId },
                            success: function (response) {
                                console.log(response.discountAmount); // Check if this logs the expected discount amount
                                console.log(response.newTotalAmount);
                                if (response.valid) {
                                    $('#coupon-message').text('Coupon applied successfully!').css('color', 'green');
                                    $('#coupon-discount').text(`$ ${response.discountAmount.toFixed(2)}`);
                                    $('#total-amount').text(`$ ${response.newTotalAmount.toFixed(2)}`);
                                } else {
                                    $('#coupon-message').text(response.message).css('color', 'red');
                                }
                            },
                            error: function (xhr) {
                                $('#coupon-message').text('An error occurred. Please try again.').css('color', 'red');
                            }
                        });
                    });
                });
            </script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function () {
                    $('.set-shipping').click(function () {
                        var addressId = $(this).data('address-id');
                        $.ajax({
                            url: '/user/setshipping/' + addressId,
                            type: 'GET',
                            success: function (response) {
                                if (response && response.Address_id) {
                                    $('#shippingFirstName').val(response.Address_id.FirstName);
                                    $('#shippingLastName').val(response.Address_id.LastName);
                                    $('#shippingCountry').val(response.Address_id.Country);
                                    $('#shippingHouseNumber').val(response.Address_id.House_number);
                                    $('#shippingAddressLine1').val(response.Address_id.Address_line_1 + ', ' + response.Address_id.Address_line_2);
                                    $('#shippingState').val(response.Address_id.State);
                                    $('#shippingPostalCode').val(response.Address_id.Postal_code);
                                    alert('Shipping address updated successfully');
                                } else {
                                    alert('Failed to update shipping address');
                                }
                            },
                            error: function (error) {
                                alert('Failed to update shipping address');
                            }
                        });
                    });

                    $('.set-billing').click(function () {
                        var addressId = $(this).data('address-id');
                        $.ajax({
                            url: '/user/setbilling/' + addressId,
                            type: 'GET',
                            success: function (response) {
                                if (response && response.Address_id) {
                                    $('#billingFirstName').val(response.Address_id.FirstName);
                                    $('#billingLastName').val(response.Address_id.LastName);
                                    $('#billingCountry').val(response.Address_id.Country);
                                    $('#billingHouseNumber').val(response.Address_id.House_number);
                                    $('#billingAddressLine1').val(response.Address_id.Address_line_1 + ', ' + response.Address_id.Address_line_2);
                                    $('#billingState').val(response.Address_id.State);
                                    $('#billingPostalCode').val(response.Address_id.Postal_code);
                                    alert('Billing address updated successfully');
                                } else {
                                    alert('Failed to update billing address');
                                }
                            },
                            error: function (error) {
                                alert('Failed to update billing address');
                            }
                        });
                    });
                });

            </script>





</body>

</html>