<%- include('navigationbar') %>
    <!-- Header Section End -->
    <link rel="stylesheet" href="css/adress-book.css" type="text/css">
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>User</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <main class="main">
        <section class="section-parent">
            <div class="profile-details">
                <div class="profile-inner">
                    <div class="account-management">
                        <div class="container mb-4 main-container">
                            <div class="row">
                                <div class="col-lg-4 pb-5">
                                    <!-- Account Sidebar-->
                                    <%- include('profilesidebar') %>
                                </div>
                                <!-- Orders Table-->
                                <form id="profile-form" class="edit-profile">
                                    <div class="edit-your-profile">Edit Your Profile</div>
                                    <div class="profile-form">
                                        <div class="name-fields-parent">
                                            <div class="name-fields">
                                                <div class="name-containers">
                                                    <div class="first-name">First Name</div>
                                                    <div class="placebox-info">
                                                        <div class="place-to-info-box"></div>
                                                        <input class="md" type="text" value="<%= user.firstName %>"
                                                            name="firstName">
                                                    </div>
                                                </div>
                                                <div class="name-containers1">
                                                    <a class="email">Email</a>
                                                    <div class="placebox-info1">
                                                        <div class="place-to-info-box1"></div>
                                                        <input class="md1" placeholder="<%= user.email %>" type="text"
                                                            readonly value="<%= user.email %>" name="email">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="address-fields-parent">
                                                <div class="address-fields">
                                                    <div class="last-name">Last Name</div>
                                                    <div class="placebox-info2">
                                                        <div class="place-to-info-box2"></div>
                                                        <input class="md2" value="<%= user.lastName %>" name="lastName"
                                                            type="text" required>
                                                    </div>
                                                </div>
                                                <div class="address-fields1">
                                                    <div class="address">Address</div>
                                                    <div class="placebox-info3">
                                                        <div class="place-to-info-box3"></div>
                                                        <% if (billingAddress) { %>
                                                            <input class="md3"
                                                                value="<%= billingAddress.Address_id.House_number %> <%= billingAddress.Address_id.Address_line_1 %> <%= billingAddress.Address_id.Postal_code %> "
                                                                type="text" readonly>
                                                            <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="placebox-info-parent">
                                            <div class="placebox-info4">
                                                <input id="currentPassword" class="md4 form-control"
                                                    placeholder="Current Password" type="password" required>
                                                <div class="invalid-feedback" id="currentPasswordError"></div>
                                            </div>
                                        </div>
                                        <div class="form-group m-0">
                                        </div>
                                    </div>
                                    <div id="error-message" class="m-auto" style="color: red;"></div>
                                    <div id="userSuccessMessage" class="m-auto" style="color: green;"></div>
                                    <div class="form-buttons">
                                        <div class="button-container" id="buttonContainer">
                                            <div class="form-buttons">
                                                <button type="submit" class="button1" id="saveChangesButton">Save
                                                    Changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- Password Change Form -->
                                <form id="password-change-form" class="edit-password" style="display: none;">
                                    <div class="edit-your-password">Change Your Password</div>
                                    <div class="password-form">
                                        <div class="form-group">
                                            <label for="currentPasswordChange">Current Password</label>
                                            <input id="currentPasswordChange" class="form-control" placeholder="Current Password" type="password"
                                                name="currentPasswordChange" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="newPassword">New Password</label>
                                            <input id="newPassword" class="form-control" placeholder="New Password" type="password" name="newPassword"
                                                required>
                                            <div id="passwordCriteria" class="mt-2"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="repeatPassword">Repeat Password</label>
                                            <input id="repeatPassword" class="form-control" placeholder="Repeat Password" type="password"
                                                name="repeatPassword" required>
                                        </div>
                                        <div class="form-group m-0"></div>
                                        <div id="passwordChangeError" style="color: red; display: none;"></div>
                                        <div id="passwordChangeSuccess" style="color: green; display: none;"></div>
                                        <div class="form-buttons">
                                            <div class="button-container">
                                                <button type="submit" class="button1" id="changePasswordButton">Change Password</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="passwordCriteria" class="mt-2"></div>
                        <div class="alert alert-success" id="userSuccessMessage" style="display: none;"></div>
                        
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer Section Begin -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivery</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>Newsletter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        $(document).ready(function () {
            $('#profile-form').on('submit', function (e) {
                e.preventDefault(); // Prevent default form submission behavior

                const currentPassword = $('#currentPassword').val();
                const errorMessageDiv = $('#error-message');
                 const successMessageDiv = $('#userSuccessMessage');

                // Validate current password
                if (currentPassword.length < 8 || !/[A-Z]/.test(currentPassword) || !/[a-z]/.test(currentPassword) || !/[0-9!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(currentPassword)) {
                    errorMessageDiv.text('Please enter a valid current password');
                     setTimeout(function () {
                        errorMessageDiv.fadeOut();
                    }, 2000);
                    return;
                }

                // Check if current password matches with user's password
                if (currentPassword !== '<%= user.password %>') {
                    errorMessageDiv.text('Current password is incorrect');
                     setTimeout(function () {
                        errorMessageDiv.fadeOut();
                    }, 2000);
                    return;
                }

                // If validation passes, submit the form via AJAX
                $.ajax({
                    url: 'updateprofile',
                    method: 'POST',
                    data: $('#profile-form').serialize(),
                    success: function (response) {
                        if (response.success) {
                            successMessageDiv.text('Profile updated successfully!').show();
                             setTimeout(function () {
                                successMessageDiv.fadeOut();
                            }, 2000);
                        } else {
                            errorMessageDiv.text(response.message);
                            setTimeout(function () {
                                errorMessageDiv.fadeOut();
                            }, 2000);
                        }
                    },
                    error: function () {
                        errorMessageDiv.text('An error occurred while updating the profile.');
                         setTimeout(function () {
                            errorMessageDiv.fadeOut();
                        }, 2000);
                    }
                });
            });

            $('#addressBookText').on('click', function () {
                window.location.href = '/user/address';
            });

            $('#orderdetails').on('click', function () {
                window.location.href = '/user/orders';
            });
        });
    </script>
    </body>

    </html>