<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
<link href="https://cdn.jsdelivr.net/npm/lightbox2@2.11.3/dist/css/lightbox.min.css" rel="stylesheet">




   
</head>

<body>
    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <% if (locals.name) { %>
                    <a href="/home">
                        <%= locals.name %>
                   
                    <% } else { %>
                        <a href="/login">Login</a>
                        <% } %>
/
                            <a href="#">FAQs</a>
            </div>
           
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="/img/icon/heart.png" alt=""></a>
            <a href="#"><img src="/img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <!-- <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div> -->
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <!-- <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div> -->
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <% if (locals.name) { %>
                                    <a href="/logout"><img  src="/img/icon/log-out.svg" alt="logout button" style="padding: 5px;"></a>
                                    <a href="/user">
                                        <%= locals.name %>
                                       
                                    </a> 
                                    <% } else { %>
                                        <a href="/login">Login</a>
                                        <% } %>
                                            <a href="#">FAQs</a>
                            </div>
                            <div class="header__top__hover">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./"><img src="/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">


                        <ul>
                            
                            <li id="home"><a href="/home">Home</a></li>
                            <li id="shop"><a href="/products">Shop</a></li>
                            <li id="about"><a href="/about">About Us</a></li>
                            <% /* %>
                            <% category.forEach((row, index)=> { %>
                                <li><a href="/products/filtered-category?page=1&sort='price-asc'&limit=5&key=<%= row.category_name %>">
                                        <%= row.category_name %>
                                    </a></li>
                                <% }) %>
<% */ %>
                        </ul>


                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <!-- <a href="#" class="search-switch"><img src="/img/icon/search.png" alt=""></a> -->
                        <a href="/wishlist"><img id="wish-icon" src="/img/icon/heart.png" alt="" style="width: 23px; margin-top: 3px;"> <span
                                id="wish-count" style="color: red; padding-left: 3px;"><%= wishListlength %></span></a>
                
                
                        <a href="/cart"><img id="cart-icon" src="/img/icon/cart.png" alt=""> <span id="cart-count"
                                style="color: red;"><%= cartLength %></span></a>
                
                
                <% if (totalCartAmount) { %>
                 <div class="price">$ <%= (totalCartAmount).toFixed(2) %></div>
                    
                <% } else{%>
                        <div class="price">$ 0.00</div>
                        <% } %>
                    </div>
                </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>

    <script>// Function to set the active class based on the current path
        function setActiveNavLink() {
            const path = window.location.pathname; // Get the current path
            let activeLinkId;

            // Determine which link should be active based on the path
            if (path === '/home' || path === '/index.html') {
                activeLinkId = 'home';
            } else if (path.includes('about')) {
                activeLinkId = 'about';
            } else  {
                activeLinkId = 'shop';
            }

            // Remove active class from all links
            document.querySelectorAll('ul li').forEach(li => li.classList.remove('active'));

            // Add active class to the current link
            if (activeLinkId) {
                document.getElementById(activeLinkId).classList.add('active');
            }
        }

        // Call the function when the page loads
        document.addEventListener('DOMContentLoaded', setActiveNavLink);
</script>