<%- include('navigationbar') %>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="/home">Home</a>
                        <span>User</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<main class="main">
    <section class="section-parent">
        <div class="profile-details">
            <div class="profile-inner">
                <div class="account-management">
                    <div class="container mb-4 main-container">
                        <div class="row">
                            <div class="col-lg-4 pb-5">
                                <!-- Account Sidebar-->
                                <%- include('profilesidebar') %>
                            </div>
                            <!-- Orders Table-->
                            <div class="col-lg-8 pb-5">
                                <div class="d-flex justify-content-end pb-3">
                                    
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th>Order #</th>
                                                <th>Date Purchased</th>
                                                <th>Status</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody id="order-list">
                                            <% orderDetails.forEach(item=> { %>
                                                <tr>
                                                    <td><a class="navi-link"
                                                            href="/user/orders/orderdetail/<%= item._id %>"
                                                            data-toggle="modal">
                                                            <%= item.Shop_orders.Order_number %>
                                                        </a></td>
                                                    <td>
                                                        <%= new Date(item.order_statuses.createdAt).toLocaleString() %>
                                                    </td>
                                                    <td><span class="badge m-0">
                                                            <% function determineOverallStatus(statusArray) { if
                                                                (statusArray.every(status=> status === 'Cancelled')) {
                                                                return 'Cancelled';
                                                                } else if (statusArray.every(status => status ===
                                                                'Shipped')) {
                                                                return 'Shipped';
                                                                } else if (statusArray.every(status => status ===
                                                                'Delivered')) {
                                                                return 'Delivered';
                                                                } else if (statusArray.every(status => status ===
                                                                'Pending')) {
                                                                return 'Pending';
                                                                } else if (statusArray.every(status => status ===
                                                                'Returned')) {
                                                                return 'Returned';
                                                                } else {
                                                                return 'Processing';
                                                                }
                                                                }
                                                                const overallStatus =
                                                                determineOverallStatus(item.Status);
                                                                %>
                                                                <p class="card-text 
                                                            <% if (overallStatus === 'Cancelled' || overallStatus === 'Refunded') { %>
                                                                text-danger p-1
                                                            <% } else if (overallStatus === 'Processing' || overallStatus === 'Shipped') { %>
                                                                text-warning p-1
                                                            <% } else if (overallStatus === 'Delivered') { %>
                                                                text-success p-1
                                                            <% } else if (overallStatus === 'Pending') { %>
                                                                text-danger p-1
                                                            <% } else if (overallStatus === 'Returned') { %>
                                                                text-muted p-1
                                                            <% } %>">
                                                                    <%= overallStatus %>
                                                                </p>
                                                        </span></td>
                                                    <td><span>₹ <%= (item.Shop_orders.Order_total).toFixed(2) %></span>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Pagination -->
                            <!-- Pagination -->
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <% if (currentPage> 1) { %>
                                        <li class="page-item">
                                            <a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a>
                                        </li>
                                        <% } %>
                                            <% for (let i=1; i <=totalPages; i++) { %>
                                                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                                    <a class="page-link" href="?page=<%= i %>">
                                                        <%= i %>
                                                    </a>
                                                </li>
                                                <% } %>
                                                    <% if (currentPage < totalPages) { %>
                                                        <li class="page-item">
                                                            <a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a>
                                                        </li>
                                                        <% } %>
                                </ul>
                            </nav>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

   
    
      <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
    </div>

    <script>
    const saveChangesButton = document.getElementById('saveChangesButton');
    const errorMessageDiv = document.getElementById('error-message');

    saveChangesButton.addEventListener('click', (e) => {
        e.preventDefault(); // Prevent default form submission behavior

        const newPassword = document.getElementById('newPassword').value;
        const confirmPassword = document.getElementById('confirmPassword').value;
        const currentPassword = document.getElementById('currentPassword').value

        if (currentPassword.length < 8 || !/[A-Z]/.test(currentPassword) || !/[a-z]/.test(currentPassword) || !/[0-9!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(currentPassword)) {
            errorMessageDiv.textContent = 'Please Enter a Valid Current Password';
            return;
        }
        // Check if current password matches with user's password
        if (currentPassword !== '<%= user.password %>') {
            errorMessageDiv.textContent = 'Current password is incorrect';
            return;
        }

        // Validate password criteria here
        if (newPassword.length < 8 || !/[A-Z]/.test(newPassword) || !/[a-z]/.test(newPassword) || !/[0-9!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(newPassword)) {
            errorMessageDiv.textContent = 'Password does not meet the criteria';
            return;
        }


        if (newPassword !== confirmPassword) {
            errorMessageDiv.textContent = 'Passwords do not match';
            return;
        }

        // If validation passes, submit the form
        document.getElementById('profile-form').submit();
    });
</script>
<script>
  document.getElementById('addressBookText').addEventListener('click', function() {
    window.location.href = '/user/address';
  });
</script>
     
  </body>
</html>
